.gm-fullscreen-control{
    display: none !important;
}
.gmnoprint{
    display: none !important;
}

.maps-label{
    width: 30vw;
}
.gm-ui-hover-effect{
    background-color: #EC2028 !important;
    border-radius: 50%;
    opacity: 1;
    color: white !important;
}
.gm-style-iw-d{
    overflow: none !important;
}
.gm-style-iw{
    padding: 1rem !important;
}
.header-maps{
    position: fixed;
    width: 93.1%;
    background-color: #1767B3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-maps-left{
    display: flex;
    align-items: center;
}
.header-maps-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 10px;
    background-color: white;
}
.border-status-maps{
    border-radius: 5px;
    color: white;
}

.header-content{
    padding-top: 3.5rem;
}



.gambar-aduan{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow-y: auto;
}
.gambar-aduan img{
    width: 22%;
    height: auto;
    border-radius: 10px;
}
.teks-aduan{
    display: flex;
    align-items: center;
}
.custom-modal {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .custom-modal .modal-body{
    height: 100%;
    width: 100%;
  }
  .custom-modal .modal-body img{
    height: 100% !important;
    width: 100% !important;
    object-fit: contain;
  }