.body-data{
    margin-top: 8%;
}
hr {
    margin: 0 0 .35rem 0 !important;
    color: #333;
    border: 10;
    border-top: var(--bs-border-width) solid;
    opacity: 1;
}

.back-button{
    border: none !important;
    background: none !important;
}


.header-pemohon{
    background-color: #1767B3;
    color: white;
    border-radius: 10px 10px 0 0;
}
.data-pemohon{
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border-radius: 10px;
}

.header-ticket{
    border-radius: 10px 10px 0 0;
}
.data-ticket{
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border-radius: 10px;
}

.data-log{
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border-radius: 10px;
}

.data-chat{
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border-radius: 10px;
    height: 91.75%;
}
.element-chat{
  background-color: #F6F7F9;
  border-radius: 10px;
  height: 70vh;
  overflow-y: auto;
}



/* TIMELINE */
.line_box {
  width: 100%;
  overflow: auto !important;
  display: flex;
  /* margin-bottom: 40px; */
}
.text_circle {
  flex: 1;
  text-align: center;
  position: relative;
}
.text_circle:after {
  background-color: grey;
  bottom: 1.25em;
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  right: 0;
  width: 50%;
  z-index: -1;
}
.stav_projektu .text_circle:after,.stav_projektu .text_circle:before {background-color: grey;}
.line_box h4 {
  font-weight: bold;
}
.line_box h4,.line_box p {
  font-size: 12px;
  margin-bottom: 0;
  padding: 0 5px;
}
.subline {
  position: absolute;
  right: -25px;
  bottom: -43%;
}
.subline:before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  bottom: 14px;
  right: 15px;
  background-color: #189599;
  border-radius: 50%;
  top: -25px;
}
.subline h6 {margin-bottom: 0;}
.timeline {margin: 40px 0;}
.text_circle.done:after,.text_circle.done + .text_circle:before,.stav_projektu .text_circle.done:after,.stav_projektu .text_circle.done + .text_circle:before {background-color: #189599;}
.text_circle.sub:after {background-color: #189599;}
.text_circle:not(:first-child):before {
  bottom: 1.25em;
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  left: 0;
  width: 50%;
  z-index: -1;
  background-color: grey;
}
.stav_projektu .text_circle:not(:first-child):before {background-color: grey;}
.text_circle:last-child:after {width: 0;}
.circle {height: 100%;}
.tvar {
  height: 40px;
  width: 40px;
  /* border: 2px solid #189599; */
  display: flex;
  position: relative;
  border-radius: 100%;
  top: -43px;
  margin: 3px auto;
  background-color: #fff;
}
.tvar span {
  margin: 0 auto;
  height: 40px;
  width: 50px;
  /* background-color: #189599; */
  border-radius: 100%;
  color: #fff;
}
.stav_projektu .tvar {border: 2px solid grey;}
.stav_projektu .done .tvar,.stav_projektu .sub .tvar {border: 2px solid #189599;}
.subline h6 {color: #189599;}
.timeline .card-header:hover {
  background-color: #ececec;
  cursor: pointer;
}
/* iPhone X ----------------------------------- */
@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
 .subline:before {top: -43px;}
}
@media only screen and (device-width : 812px) and (device-height : 375px) and (orientation : landscape) and (-webkit-device-pixel-ratio : 3) {
 .subline:before {top: -31px;}
}
/* iPad portrait ----------------------------------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
 .subline:before {top: -29px;}
}
/* mobile width till 767px ----------------------------------- */
@media (max-width: 767px){
 .subline:before {top: -30px;}
}
/* Portrait iPad Pro */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
 .subline:before {top: -23px;}
}
/* mobile width till 480px ----------------------------------- */
@media (max-width: 480px){
 .subline:before {top: -43px;}
}


  /* CHAT */
  /* M E N U */

.menu {
  /* position: fixed; */
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 50px;
  background: rgba(82,179,217,0.9);
  z-index: 100;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.back {
  /* position: absolute; */
  width: 90px;
  height: 50px;
  top: 0px;
  left: 0px;
  color: #fff;
  line-height: 50px;
  font-size: 30px;
  padding-left: 10px;
  cursor: pointer;
}
.back img {
  /* position: absolute; */
  top: 5px;
  left: 30px;
  width: 40px;
  height: 40px;
  background-color: rgba(255,255,255,0.98);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  margin-left: 15px;
  }
.back:active {
  background: rgba(255,255,255,0.2);
}
.name{
  /* position: absolute; */
  top: 3px;
  left: 110px;
  font-family: 'Lato';
  font-size: 25px;
  font-weight: 300;
  color: rgba(255,255,255,0.98);
  cursor: default;
}
.last{
  /* position: absolute; */
  top: 30px;
  left: 115px;
  font-family: 'Lato';
  font-size: 11px;
  font-weight: 400;
  color: rgba(255,255,255,0.6);
  cursor: default;
}

/* M E S S A G E S */

.chat {
  list-style: none;
  background: none;
  margin: 0;
  padding: 0 0 50px 0;
  margin-top: 60px;
  margin-bottom: 10px;
}
.chat li {
  padding: 0.5rem;
  /* overflow: hidden; */
  display: flex;
}
.chat .avatar {
  width: 50px;
  height: 50px;
  position: relative;
  display: block;
  z-index: 2;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  background-color: rgba(255,255,255,0.9);
}
.chat .avatar img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  background-color: rgba(255,255,255,0.9);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.chat .day {
  position: relative;
  display: block;
  text-align: center;
  color: #c0c0c0;
  height: 20px;
  text-shadow: 7px 0px 0px #e5e5e5, 6px 0px 0px #e5e5e5, 5px 0px 0px #e5e5e5, 4px 0px 0px #e5e5e5, 3px 0px 0px #e5e5e5, 2px 0px 0px #e5e5e5, 1px 0px 0px #e5e5e5, 1px 0px 0px #e5e5e5, 0px 0px 0px #e5e5e5, -1px 0px 0px #e5e5e5, -2px 0px 0px #e5e5e5, -3px 0px 0px #e5e5e5, -4px 0px 0px #e5e5e5, -5px 0px 0px #e5e5e5, -6px 0px 0px #e5e5e5, -7px 0px 0px #e5e5e5;
  box-shadow: inset 20px 0px 0px #e5e5e5, inset -20px 0px 0px #e5e5e5, inset 0px -2px 0px #d7d7d7;
  line-height: 38px;
  margin-top: 5px;
  margin-bottom: 20px;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.other .msg {
  order: 1;
  border-top-left-radius: 0px;
  box-shadow: -1px 2px 0px #D4D4D4;
}
.other:before {
  content: "";
  position: relative;
  top: 0px;
  right: 0px;
  left: 40px;
  width: 0px;
  height: 0px;
  border: 5px solid #fff;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.self {
  justify-content: flex-end;
  align-items: flex-end;
}
.self .msg {
  background-color: #1767B3 !important;
  color: white !important;
  order: 1;
  border-bottom-right-radius: 0px;
  /* box-shadow: 1px 2px 0px #D4D4D4; */
}
.self .msg h4:nth-child(1){
  color: #7AC241 !important;
}
.self .avatar {
  order: 2;
}
.self .avatar:after {
  content: "";
  position: relative;
  display: inline-block;
  bottom: 19px;
  right: 0px;
  width: 0px;
  height: 0px;
  border: 5px solid #fff;
  border-right-color: transparent;
  border-top-color: transparent;
  box-shadow: 0px 2px 0px #D4D4D4;
}

.msg {
  font-weight: 300 !important;
  background: white;
  width: 70% !important;
  padding: 1.25rem;
  border-radius: 20px;
  /* box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.07); */
}
.msg h4:nth-child(1) {
  width: 100%; /* Sesuaikan dengan lebar yang Anda inginkan */
  white-space: nowrap; /* Mencegah teks memecah ke baris baru secara horizontal */
  text-wrap: wrap; /* Mengatur overflow untuk teks yang melebihi lebar kontainer */
  /* text-overflow: ellipsis; /* */
  color: #00c4f3;
  margin: 0 0 0.2rem 0;
  /* color: #777; */
}
.msg img {
  position: relative;
  display: block;
  width: 450px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px #eee;
  transition: all .4s cubic-bezier(0.565, -0.260, 0.255, 1.410);
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
@media screen and (max-width: 800px) {
  .msg img {
  width: 300px;
}
}
@media screen and (max-width: 550px) {
  .msg img {
  width: 200px;
}
}

.msg time {
  font-size: calc(50% + .75vmin);
   margin-bottom: 0!important;
  color: #c5bdbd;
  margin-top: 3px;
  float: right;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.msg time:before{
  content:"\f017";
  color: #ddd;
  font-family: FontAwesome;
  display: inline-block;
  margin-right: 4px;
}

emoji{
  display: inline-block;
  height: 18px;
  width: 18px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -7px;
  margin-right: 2px;
  transform: translate3d(0px, 3px, 0px);
}
emoji.please{background-image: url(https://imgur.com/ftowh0s.png);}
emoji.lmao{background-image: url(https://i.imgur.com/MllSy5N.png);}
emoji.happy{background-image: url(https://imgur.com/5WUpcPZ.png);}
emoji.pizza{background-image: url(https://imgur.com/voEvJld.png);}
emoji.cryalot{background-image: url(https://i.imgur.com/UUrRRo6.png);}
emoji.books{background-image: url(https://i.imgur.com/UjZLf1R.png);}
emoji.moai{background-image: url(https://imgur.com/uSpaYy8.png);}
emoji.suffocated{background-image: url(https://i.imgur.com/jfTyB5F.png);}
emoji.scream{background-image: url(https://i.imgur.com/tOLNJgg.png);}
emoji.hearth_blue{background-image: url(https://i.imgur.com/gR9juts.png);}
emoji.funny{background-image: url(https://i.imgur.com/qKia58V.png);}

@-webikt-keyframes pulse {
from { opacity: 0; }
to { opacity: 0.5; }
}

::-webkit-scrollbar {
  min-width: 12px;
  width: 12px;
  max-width: 12px;
  min-height: 12px;
  height: 12px;
  max-height: 12px;
  background: #e5e5e5;
  box-shadow: inset 0px 50px 0px rgba(82,179,217,0.9), inset 0px -52px 0px #fafafa;
}

::-webkit-scrollbar-thumb {
  background: #bbb;
  border: none;
  border-radius: 100px;
  border: solid 3px #e5e5e5;
  box-shadow: inset 0px 0px 3px #999;
}

::-webkit-scrollbar-thumb:hover {
  background: #b0b0b0;
box-shadow: inset 0px 0px 3px #888;
}

::-webkit-scrollbar-thumb:active {
  background: #aaa;
box-shadow: inset 0px 0px 3px #7f7f7f;
}

::-webkit-scrollbar-button {
  display: block;
  height: 26px;
}

/* T Y P E */

input.textarea {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 50px;
  z-index: 99;
  background: #fafafa;
  border: none;
  outline: none;
  padding-left: 55px;
  padding-right: 55px;
  color: #666;
  font-weight: 400;
}
.emojis {
  position: fixed;
  display: block;
  bottom: 8px;
  left: 7px;
  width: 34px;
  height: 34px;
  background-image: url(https://i.imgur.com/5WUpcPZ.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 100;
  cursor: pointer;
}
.emojis:active {
  opacity: 0.9;
}