hr.hr-bottom {
    margin: 0 0 .35rem 0 !important;
    color: inherit;
    border: 0;
    border-top: var(--bs-border-width) solid;
    opacity: .25;
}

.track-filter{
    position: absolute;
    right: 2.5%;
    top: 4.5%;
}
.dropstart .dropdown-toggle::before {
    content: none !important;
}

.menu-dropdown-tracking{
    width: 20rem !important;
    padding-bottom: 1rem !important;
}
.dropdown-filter-tracking{
    background: white !important;
    border: none !important;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    color: grey;
}
.dropdown-filter-tracking .filter-button{
    color: grey;
}

.LogoPatraTracking{
    width: 65%;
    transform: translateY(.275rem);
}

.select-date .form-control{
    padding: .25rem !important;
}


.list-ticket-driver{
    position: absolute;
    bottom: 5%;
    left: 50%;
  transform: translateX(-50%);
    width: 90vw;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1rem 2.5rem;
    border-radius: 1rem;
}
.header-list-td{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bottom{
    border: 1px solid rgb(206, 204, 204) !important;
    border-radius: 10px;
}
.btn-primary {
    --bs-btn-color: none !important;
    --bs-btn-bg: none !important;
    --bs-btn-border-color: none !important;
}
.search-button Button.icon{
    color: grey !important;
    border: none !important;
    background-color: none !important;
    background: none !important;
}
.search-bottom .icon2{
    border: none !important;
}
