.hr-main {
    margin: 0 0 .35rem 0 !important;
    color: #333;
    border: 10;
    border-top: var(--bs-border-width) solid;
    opacity: 1;
}
.vl {
    border-left: 1px solid #333;
    height: 2rem;
  }

  .nav-tabs-main {
    padding: .25rem .5rem !important;
    background-color: #1767B3;
    width: max-content;
    border-radius: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    transform: translateY(4rem);
    font-size: calc(50% + 1vmin);
    --bs-nav-tabs-border-width: var(--bs-border-width);
    --bs-nav-tabs-border-color: none !important;
    --bs-nav-tabs-border-radius: none !important;
    --bs-nav-tabs-link-hover-border-color: none !important;
    --bs-nav-tabs-link-active-color: #696969 !important;
    --bs-nav-tabs-link-active-bg: var(--bs-body-bg);
    --bs-nav-tabs-link-active-border-color: none !important;
    color: #ffff !important;
    border-bottom: none !important;
    border: none !important;
    }
    .nav-tabs-main .nav-item{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-tabs-main .nav-link {
        color: #fff !important;
        padding: .25rem 2.5rem !important;
    }
    .nav-tabs-main .nav-link.active {
        padding: .25rem 2.5rem !important;
        border-radius: 100px;
        color: #fff !important;
        background-color: #7fafdb !important;
        border: none !important;
    }
    .nav-tabs-main .nav-link.hover {
        border: none !important;
    }

.main-new-header{
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.LogoPatra{
    /* width: 15%; */
    position: absolute;
    top: 5.7%;
    left: 8.5rem;
}
.header-total-ticket{
    margin-top: 1% !important;
}
.upper-hr{
    display: flex;
    align-items: end;
    justify-content: center;
}
.upper-hr-top{
    display: flex;
    align-items: end;
    justify-content: center;
}
.icon-ticket{
    display: flex;
    align-items: end;
}
.icon-ticket-top{
    display: flex;
    align-items: center;
}

.lower-hr{
    display: flex;
    justify-content: center;
    align-items: center;
}

.SvgMaps{
    margin-top: -10rem;
    width: 100%;
    height: calc(100% + 5rem) !important;
}
.SvgMaps div:not([class]){
    display: flex;
    justify-content: center;
}

.detak{
    transform: translateY(2rem);
    width: 140px;
    height: 140px;
}

.main-new-bottom-left{
    /* transform: translateX(5rem); */
    display: grid;
    /* grid-template-columns: max-content max-content max-content; */
    grid-template-columns: max-content max-content;
    grid-template-rows: auto auto;
    gap: 3rem;
    grid-template-areas: 
    "mptb1  mptb3"
    "mptb5 mptb6";
}
.main-new-bottom-left .main-parent-ticket-border:nth-child(1){grid-area: mptb1;}
.main-new-bottom-left .main-parent-ticket-border:nth-child(2){grid-area: mptb3;}
.main-new-bottom-left .main-parent-ticket-border:nth-child(3){grid-area: mptb5;}
.main-new-bottom-left .main-parent-ticket-border:nth-child(4){grid-area: mptb6;}
.main-parent-ticket-border{
    margin-top: 2%;
    display: flex;
    align-items: center;
}
.main-new-ticket-border{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
    text-align: center;
    padding:  1rem;
    border-radius: 50%;
}
.main-new-ticket-border h3{
    text-align: center;
}
.count-ticket-border{
    line-height: 25% !important;
}
.count-ticket-border h2{
    line-height: .5;
}

.main-new-bottom{
    width: 100%;
    position: absolute;
    bottom: 5%;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.main-new-bottom-right{
    display: flex;
    align-items: center;
}

.dropdown-main{
    display: flex !important;
    align-items: start !important;
    background: none !important;
    color: grey !important;
}
#menu-dropdown-active{
    width: 35vw !important;
}
.header-main-bottom{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.table {
    --bs-table-color-type: initial;
    --bs-table-bg-type: initial;
    --bs-table-color-state: initial;
    --bs-table-bg-state: initial;
    --bs-table-color: none !important;
    --bs-table-bg: none !important;
    --bs-table-border-color: var(--bs-border-color);
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: var(--bs-emphasis-color);
    --bs-table-striped-bg: rgba(var(--bs-emphasis-color-rgb), 0.05);
    --bs-table-active-color: var(--bs-emphasis-color);
    --bs-table-active-bg: none !important;
    --bs-table-hover-color: var(--bs-emphasis-color);
    --bs-table-hover-bg: rgba(var(--bs-emphasis-color-rgb), 0.075);
    width: 100%;
    margin-bottom: 1rem;
    vertical-align: top;
    border-color: var(--bs-table-border-color);
}
.dropdown-menu{
    padding: 0 !important;
    transform: translateY(0);
  transition: transform 0.5s ease-in-out;
}
.dropdown-menu .show{
    transform: translateY(-100%);
}

.dropup-main .dropdown-toggle:after {
    border-bottom: 1rem solid !important;
    border-left: .75rem solid #0000 !important;
    border-right: .75rem solid #0000 !important;
    border-top: 0 !important;
    content: "" !important;
    border: 1px solid green;
    display: inline-block !important;
    margin-left: .5rem !important;
    vertical-align: 0.255em !important;
    transform: translateY(4rem);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.dropdown-toggle:after {
    border-bottom: 1rem solid !important;
    border-left: .75rem solid #0000 !important;
    border-right: .75rem solid #0000 !important;
    border-top: 0 !important;
    content: "" !important;
    display: none !important;
    margin-left: .5rem !important;
    vertical-align: 0.255em !important;
    transform: translateY(4rem);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.border1{
    padding: 1rem;
    border: 1px solid red;
}
.border2{
    padding: 1rem;
    border: 1px solid red;
}
.border3{
    padding: 1rem;
    border: 1px solid red;
}